<div class="container mt-4">

    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>

        </div>

        <div class="col-4">
                 <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>
        </div>


              <div class="col-4">
                 <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>
        </div>

    </div>


    <div class="row  mt-4">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>

        </div>

        <div class="col-4">
                 <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>
        </div>


              <div class="col-4">
                 <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card centrada</h5>
                    <p class="card-text">Contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Acción</a>
                </div>
            </div>
        </div>

    </div>



</div>


--13--